.app,
.app * {
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 960px;
    color: #150202;
    margin: 1em auto;
    height: calc(100% - 2em);
    border: 2px solid #476c9b;
    background: #9aadbf;
}

.app h1 {
    background: #dfccb9;
    border-bottom: 2px solid #476c9b;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em 0 0.5em 0.5em;
}

@media (max-width: 960px) {
    .app {
        margin: 0;
        height: 100%;
    }

    .app h1 {
        padding: 0.25em 0 0.25em 0.5em;
    }
}

@media (max-width: 440px) {
    .app {
        font-size: 90%;
    }
}